@import "tailwindcss";

@font-face {
    font-family: michroma;
    src: url('../src/assets/Fonts/Michroma-Regular.ttf');
}
@font-face {
    font-family: poppins;
    src: url('../src/assets/Fonts/Poppins-Regular.ttf');
}

@theme{
    --font-michroma: michroma, "sans-serif";
    --font-poppins: poppins, "sans-serif";
}

@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
    height: 100%;
}

@layer {
    .neon-button {
        @apply bg-[#6642bb] ring-violet-400 rounded-lg text-white animate-bounce font-bold shadow-[0_0_20px_rgba(0,255,255,0.3)]
        hover:bg-black hover:animate-none hover:shadow-[0_0_50px_rgba(170,50,255,0.8)]
        lg:rounded-2xl
    }
}